<html lang="en">
<head>
	{%load staticfiles%}
	<meta charset="UTF-8">
	<title> Gaz {% block page_title %} {% endblock %}</title>	
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
	<!--smoosh-->
	<link rel="stylesheet" href="{% static 'css/main.css'%}">
	<!--endsmoosh-->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
	
</head>
<header>

	<body>
		<h1> Gracias por suscribirse a su cuenta de correo electronico llegará la confirmación </h1>
		
	</body>
</header>
